
.button-group{
    justify-content: center;    
}
.button-group button {
    margin: 0 5px;

}
.top-container{
    display: flex;

}
.top-container button{
    margin: 0 1px;
    
}
.td {
    display: flex;
}
.table button{
    margin: 0 5px;
}
.pcoded-content{
}
.table-content{
    height: 350px;
}