<app-header></app-header>
<div class="pc-container">
    <div class="pcoded-content">
        <div class="content">
            <h4>Danh Sách Kết Nói</h4>
            <div class="flex-box">
                <div class="flex-component-left">
                    <div>Danh Sách Kết Nói</div>
                  
                        <table class="table table-list-connection">
                            <thead>
                              <tr>
                                  <th>STT</th>
                                  <th>Tên</th>
                                  <th>Mã</th>
                                  <th>URL</th>
                                  <th>Cnn User</th>
                                  <th>Cnn Password</th>
                              </tr>
                              <tr>
                                  <th></th>
                                  <th><input type="text" placeholder="Tìm"></th>
                                  <th><input type="text" placeholder="Tìm"></th>
                                  <th><input type="text" placeholder="Tìm"></th>
                                  <th><input type="text" placeholder="Tìm"></th>
                                  <th><input type="text" placeholder="Tìm"></th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Tên</td>
                                    <td>Mã</td>
                                    <td>URL</td>
                                    <td>Cnn User</td>
                                    <td>Cnn Password</td>
                                </tr>
                            </tbody>
                          </table>
                    </div>
                

                <div class="flex-component-right">
                    <div>
                        <div>Thông Tin Kết Nói</div>
                        <div class="table-connectio">  
                            <div>
                                <form>
                                    <div class="title form-group ">
                                      <label for="exampleInputEmail1">Mã Kết Nói</label>
                                      <input class="form2 form-control">
                                    </div>
                                    <div class="title form-group">
                                      <label >Tên Kết Nói</label>
                                      <input  class="form2 form-control" >
                                    </div>
                                    <div class="title form-group">
                                        <label >URL</label>
                                        <input  class="form2 form-control" >
                                    </div>
                                    <div class=" title form-group">
                                        <label>Cnn User</label>
                                        <input  class="form2 form-control" >
                                    </div>
                                    <div class=" title form-group">
                                        <label>Cnn Password</label>
                                        <input type="password"  class="form2 form-control" >
                                    </div>
                                    <div class="button-group">
                                        <button  class="btn btn-primary">Sửa</button>
                                        <button  class="btn btn-primary">Lưu</button>
                                        <button  class="btn btn-primary">Thêm</button>
                                        <button  class="btn btn-primary">Hủy</button>
                                        <button  class="btn btn-primary">Xóa</button>
                                    </div>
                                    <button style="width: 50% ; margin-top: 5px ;margin-left: 25%;"  class="btn btn-primary">Kiểm Tra Kết Nói</button>
                                  </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
