.flex-container{
    display: flex;
}

.item-left {
    /* 60% width */
    width: 60%;
    background-color: #fafbfc;
}

.item-right {
    /* 40% width */
    width: 40%;
    background-color: #f4f1f1;
}
.col-md-15{
    padding-left: 3%;
    background-color: rgb(74, 135, 204);
}
.icon-arrow{
    width:4%;
    height:4%;
    position: relative;
    left: 2%;
}
.material-icons-two-tone{
top: 5px;
    position: relative;
    left: -27px;
}
.form-control{
    width: 90%;
    display: inline;
    margin-left: 13px;
    position: relative;
    top: 4px;
}
.format-search{
    background-color: rgb(48, 177, 237);
}
/*right*/
.title-right{
    background-color: #f4f1f1;
}
.title-right h3{
    font-size: 20px;
}
.title-right .form-group{
    display: flex;
    scale: 90%;
    align-items: center;
}
.title-right .form-group .form2{
    width:70%;
    position: relative;
    

}
.title-right .form-group label {
    position: relative;
    width: 20%;
    
}
.title-right .form-group input {
    width: 30px;
    position: relative;
    top: 10%;
}
.button-group{
    display: flex;
    justify-content: center;
}
.button-group button {
    margin: 0 1%;

}

