<app-header></app-header>
<div class="pc-container">
    <div class="pcoded-content">
        <h2>Quản Lý Nhóm Báo Cáo</h2>
        <div class="flex-container">
            <div class="item-left">
                <div class="col-md-15">
                   <h3>Quản lý nhóm báo cáo</h3>
                </div>
                <div class="format-search item col-md-10">
                    <input type="search" class="form-control border-0 shadow-none" placeholder="Search here. . .">
                    <i class="icon material-icons-two-tone">search</i>  
                    <br>
                        <div *ngFor="let item of groupReport">
                          <a  class="pc-link" ><span class="pc-arrow"><i data-feather="chevron-right"></i></span><span class="pc-micon"></span><span class="pc-mtext" >{{item.groupReport}}</span></a>
                          <ul  *ngFor="let form of item.reports " >
                              <li (click)="SelectedItem(form)" class="pc-item"><a class="pc-link" > </a>{{form.tenNhom}}</li>
                          </ul>
                        </div>
                        <br>
                </div>
            </div>
            <div class="item-right">
                <div class="title-right col-md-15">
                    <h3>Thông tin nhóm báo cáo</h3> 
                    <hr style="border-top: 3px; color: rgb(39, 36, 36);">
                    <div class="format-right">
                    <form #Form1 = "ngForm" >
                        <div class="title form-group ">
                          <label for="exampleInputEmail1">Mã Nhóm</label>
                          <input type="text" class="form2 form-control" [(ngModel)]="manhom"  [ngModelOptions]="{standalone: true}"> 
                        </div>
                        <div class="title form-group">
                          <label >Tên Nhóm</label>
                          <input type="text"  class="form2 form-control"  [(ngModel)]="tennhom"  [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="title form-group">
                            <label >Ghi Chú</label>
                            <input type="number"  class="form2 form-control"  [(ngModel)]="ghichu"  [ngModelOptions]="{standalone: true}" >
                        </div>
                        <div class=" title form-group">
                            <label>Nhóm Cha</label>
                            <select class="form2 form-select  form-control " aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>
                        <div class="button-group">
                            <button  class="btn btn-primary">Sửa</button>
                            <button  class="btn btn-primary">Lưu</button>
                            <button  class="btn btn-primary">Thêm</button>
                            <button  class="btn btn-primary">Hủy</button>
                            <button  class="btn btn-primary">Xóa</button>
                        </div>
                       
                      </form>
                    </div>
                </div>
                <div >
                    
                </div>
            </div>
        </div>
    </div>
</div>
        
        
<script src="https://kit.fontawesome.com/22dbf6def7.js" crossorigin="anonymous"></script>
