<app-header></app-header>
<div class="pc-container">
    <div class="pcoded-content">
        <h2>Title</h2>
        <div class="flex-container">
            <div class="item-left">
                <div class="col-md-15">
                   <h3>Quản lý nhóm báo cáo</h3>
                </div>
                <div class="format-search item col-md-10">
                    <input type="search" class="form-control border-0 shadow-none" placeholder="Search here. . .">
                    <i class="icon material-icons-two-tone">search</i>  

                    <!-- nếu lấy danh sách từ database-->

                    <!-- <div *ngFor="let template of reportTemplates; let i = index">
                        <a class="pc-link" (click)="toggleSubMenu(i)">
                          <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                          <span class="pc-micon"></span>
                          <span class="pc-mtext">{{ template.name }}</span>
                        </a>
                        <ul class="pc-submenu" [ngClass]="{'pc-submenu-visible': submenuVisible[i]}">
                          <li class="pc-item" *ngFor="let item of template.items">
                            <a class="pc-link">{{ item.name }}</a>
                          </li>
                        </ul>
                      </div> -->


                    <br>
                        <a class="pc-link" (click)="toggleSubMenu1()"><span class="pc-arrow"><i data-feather="chevron-right"></i></span><span class="pc-micon"></span><span class="pc-mtext">Mẫu báo cáo</span></a>
                        <ul class="pc-submenu" [ngClass]="{'pc-submenu-visible': submenuVisible1}">
                            <li class="pc-item"><a class="pc-link"  >Danh mục 1 </a></li>
                            <li class="pc-item"><a class="pc-link"  >Danh mục 2</a></li>
                            <li class="pc-item"><a class="pc-link"  >Danh muc 3</a></li>
                            <li class="pc-item"><a class="pc-link"  >Danh muc 4</a></li>
                            <li class="pc-item"><a class="pc-link"  >Danh muc 5</a></li>
                        </ul>
                        <br>
                        <a class="pc-link" (click)="toggleSubMenu2()"><span class="pc-arrow"><i data-feather="chevron-right"></i></span><span class="pc-micon"></span><span class="pc-mtext">Mẫu báo cáo</span></a>
                        <ul class="pc-submenu" [ngClass]="{'pc-submenu-visible': submenuVisible2}">
                            <li class="pc-item"><a class="pc-link"  >Danh mục 1 </a></li>
                            <li class="pc-item"><a class="pc-link"  >Danh mục 2</a></li>
                            <li class="pc-item"><a class="pc-link"  >Danh muc 3</a></li>
                            <li class="pc-item"><a class="pc-link"  >Danh muc 4</a></li>
                            <li class="pc-item"><a class="pc-link"  >Danh muc 5</a></li>
                        </ul>
                </div>
            </div>
            <div class="item-right">
                <div class="title-right col-md-15">
                    <h3>Thông tin nhóm báo cáo</h3> 
                    <hr style="border-top: 3px; color: rgb(39, 36, 36);">
                    <div class="format-right">
                    <form>
                        <div class="title form-group ">
                          <label for="exampleInputEmail1">Mã Nhóm</label>
                          <input class="form2 form-control">
                        </div>
                        <div class="title form-group">
                          <label >Tên Nhóm</label>
                          <input  class="form2 form-control" >
                        </div>
                        <div class="title form-group">
                            <label >Ghi Chú</label>
                            <input  class="form2 form-control" >
                        </div>
                        <div class=" title form-group">
                            <label>Nhóm Cha</label>
                            <select class="form2 form-select  form-control " aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>
                        <div class="button-group">
                            <button  class="btn btn-primary">Sửa</button>
                            <button  class="btn btn-primary">Lưu</button>
                            <button  class="btn btn-primary">Thêm</button>
                            <button  class="btn btn-primary">Hủy</button>
                            <button  class="btn btn-primary">Xóa</button>
                        </div>
                       
                      </form>
                    </div>
                </div>
                <div >
                    
                </div>
            </div>
        </div>
    </div>
</div>
        
        
<script src="https://kit.fontawesome.com/22dbf6def7.js" crossorigin="anonymous"></script>
