<app-header></app-header>
<div class="pc-container">
    <div class="pcoded-content">
        <h2>Title</h2>
        <div class="flex-container">
            <div class="item-left">
                <div class="col-md-15">
                   <h3>Quản lý nhóm báo cáo</h3>
                </div>
                <div class="format-search item col-md-10">
                    <input type="search" class="form-control border-0 shadow-none" placeholder="Search here. . .">
                    <i class="material-icons-two-tone">search</i>
                            
                    <br>
                        <a class="pc-link"><span class="pc-arrow"><i data-feather="chevron-right"></i></span><span class="pc-micon"></span><span class="pc-mtext">Mẫu báo cáo</span></a>
                        <ul class="pc-submenu">
                            <li class="pc-item"><a class="pc-link"  >Danh mục 1 </a></li>
                            <li class="pc-item"><a class="pc-link"  >Danh mục 2</a></li>
                            <li class="pc-item"><a class="pc-link"  >Danh muc 3</a></li>
                            <li class="pc-item"><a class="pc-link"  >Danh muc 4</a></li>
                            <li class="pc-item"><a class="pc-link"  >Danh muc 5</a></li>
                        </ul>
                </div>
            </div>
            <div class="item-right">
                <div class="col-md-15">
                    <h3>Thông tin nhóm báo cáo</h3> 
                </div>
                <div >
                    
                </div>
            </div>
        </div>
    </div>
</div>
        
        
<script src="https://kit.fontawesome.com/22dbf6def7.js" crossorigin="anonymous"></script>
