

<section class="vh-100" style="background-color: #0dcaf073;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center"> 
              <h3 class="mb-5 ">Register</h3>
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="Name" id="typeName" class="form-control form-control-lg"  placeholder="Tài khoản"/>
                <!-- <label class="form-label" for="typePasswordX-2">Password</label> -->
              </div>

              <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="typeEmailX-2" class="form-control form-control-lg" placeholder="Email"/>
                <!-- <label class="form-label" for="typeEmailX-2">Email</label> -->
              </div>
  
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="typePasswordX-2" class="form-control form-control-lg"  placeholder="Mật khẩu"/>
                <!-- <label class="form-label" for="typePasswordX-2">Password</label> -->
              </div>
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="typePasswordX-3" class="form-control form-control-lg"  placeholder="Nhập lại mật khẩu"/>
                <!-- <label class="form-label" for="typePasswordX-2">Password</label> -->
              </div>
  

              <button data-mdb-button-init data-mdb-ripple-init class="normal btn btn-primary btn-lg btn-block" type="submit">Đăng ký</button>
  
              <!-- <button data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
                type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</button> --> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

